<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pruebas TestNg"  parallel="methods" thread-count="3">
    <test name="Pruebas Carrito de Compras">
        <classes>
            <class name="co.dlacademy.ProductoTest">
                <methods>
                    <include name="testObtenerNombre">
                        <parameter name="nombreProducto" value="Zapatos"/>
                        <parameter name="precio" value="30.8"/>
                    </include>
                    <include name="testObtenerPrecio"/>
                    <include name="testProductoSinNombre"/>
                    <include name="testProductoPrecioNegativo"/>
                </methods>
            </class>
            <class name="co.dlacademy.CarritoTest"/>
            <class name="co.dlacademy.HistorialCompraTest"/>
            <class name="co.dlacademy.CompraTest"/>
        </classes>
    </test>
</suite>

